{# Requires including the js from django_common that enables ajax forms etc. If a template variable cc_form_post_url is passed to the template then this form posts to it, otherwise it posts to the url 'payments_billing'. If a template variable cc_form_success_redirect_url is passed it takes user to that url then after form post has succeeded. #}


<div id="payments_billing">
    <h2>Your billing information</h2>
    {% if current_cc_info %}
        <ul id="cc_details">
            {% include 'django_braintree/fragments/current_cc_info.html' %}
            <li><a href="#" class="button" onclick="toggle();">Change</a></li>
        </ul>
    {% endif %}
    
    <form class="{% if current_cc_info %}hide{% endif %}" action="{% if cc_form_post_url %}{{ cc_form_post_url }}{% else %}{% url payments_billing %}{% endif %}" method="POST" id="id_update_cc_form">{% csrf_token %}
        {% include 'django_braintree/fragments/cc_form.html' %}
        
        <input type="submit" value="Save" />
        
        {% if current_cc_info %}
            <a class="cancel" href="#" onclick="toggle();">Cancel</a>
        {% endif %}
    </form>
</div>


<script type="text/javascript">
	$(function() {
        (new FormHelper('id_update_cc_form')).bind_for_ajax(function(data) {
    	    window.location = '{% if cc_form_success_redirect_url %}{{ cc_form_success_redirect_url }}{% else %}{% url payments_billing %}{% endif %}';
        });
    });
    
    function toggle() {
        $('#cc_details').toggle();
        $('#id_update_cc_form').toggle();
    }
</script>
